@using OkyanusSchool.Models.VM
@model OgrenciListVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/WebCms/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 my-4">
        <div class="card shadow mb-4">
            <div class="card-header py-4">
                Ogrenci listesi
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between my-3">
                    <form method="post" asp-action="PullOgrenciBilgi">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input hidden name="ISLEM" value="1" />
                        <div class="form-group ">
                            <input type="submit" value="Yenile" class="btn btn-info" />
                        </div>
                    </form>
                    <a asp-action="CreateOgrenciBilgi" class="btn btn-outline-dark" style=" height:36px;"><i class="fas fa-fw fa-plus"></i> Yeni Ogrenci Ekle</a>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-shorting" id="dataTable">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">AD</th>
                                <th scope="col">SOYAD</th>
                                <th scope="col">TC_KIMLIK</th>
                                <th scope="col">DOGUM_TARIHI</th>
                                <th scope="col">CEP_TELEFONU</th>
                                <th scope="col">EMAIL</th>
                                <th scope="col">ILK_KAYIT</th>
                                <th scope="col">GUNCERLE - SIL</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (TempData["Orgs"] != null)
                            {
                                @foreach (var item in Model.OgrenciBilgis)
                                {
                                    <tr>
                                        <th scope="row">@item.ID</th>
                                        <td>@item.AD</td>
                                        <td>@item.SOYAD</td>
                                        <td>@item.TC_KIMLIK</td>
                                        <td>@item.DOGUM_TARIHI.ToString("dd/MM/yyyy")</td>
                                        <td>@item.CEP_TELEFONU</td>
                                        <td>@item.EMAIL</td>
                                        <td>@item.ILK_KAYIT.ToString("dd/MM/yyyy")</td>
                                        <td>
                                            <div style="display:flex">
                                            @*<form class="btnForm" method="get" asp-action="EditOgrenciBilgi" asp-route-id="@item.ID">
                                                <input hidden name="ISLEM" value="5" />
                                                <button type="submit" class="fas fa-fw fa-pencil-alt updateBtn"> </button>
                                            </form>*@
                                                <a asp-controller="OgrenciBilgi" asp-action="EditOgrenciBilgi" class="fas fa-fw fa-pencil-alt updateBtn" asp-route-id="@item.ID"></a>

                                            <form class="btnForm" method="post" asp-action="DeleteOgrenciBilgi" asp-route-id="@item.ID">
                                                <input hidden name="ISLEM" value="4" />
                                                <button type="submit" class="fas fa-fw fa-trash deleteBtn" onclick="return confirm('Silmek istediğinizden emin misiniz?')"> </button>
                                            </form>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


